<mat-card-content>

  <form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-form">

    <mat-form-field class="full-width">
      <div>
        <mat-label>Username
          <input matInput placeholder="username" formControlName="username" required>
        </mat-label>
      </div>
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors.required">Username is required</div>
      </div>
    </mat-form-field>

    <mat-form-field class="full-width">
      <div>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" formControlName="password" required>
      </div>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors.required">Password is required</div>
      </div>
    </mat-form-field>
    <button class="btn btn-primary btn-block">
      Login
    </button>


    <div class="alert alert-success" *ngIf="isLoggedIn">
      You have been logged in.
    </div>

  </form>

</mat-card-content>

<!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
      Login failed: {{ errorMessage }}
    </div> -->