<mat-toolbar>
  <button mat-icon-button aria-label="Home button" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <span class="spacer"></span>

  <button *ngIf="this.isLogged && !isAdmin" mat-icon-button aria-label="Checkout button" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button *ngIf="this.isLogged" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="this.isAdmin" mat-menu-item [routerLink]="['/admin/products']">
      <mat-icon>dialpad</mat-icon>
      <span>manage</span>
    </button>
    <button *ngIf="!this.isAdmin" mat-menu-item [routerLink]="['/orders']">
      <mat-icon>dialpad</mat-icon>
      <span>my orders</span>
    </button>
  </mat-menu>

  <button *ngIf="!this.isLogged" mat-icon-button aria-label="Login button"
    [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>

  <button *ngIf="!this.isLogged" mat-icon-button aria-label="signup button"
    [routerLink]="['/signup']">
    <mat-icon>supervisor_account</mat-icon>
  </button>

  <button *ngIf="this.isLogged" mat-icon-button aria-label="Logout button"
    (click)="this.logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>