<mat-toolbar>
  <button mat-icon-button aria-label="Home button" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <span class="spacer"></span>
  <button
  *ngIf="this.authService.isUserLoggedIn()"
    mat-icon-button
    aria-label="Checkout button"
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
 
    <button *ngIf="!this.authService.isUserLoggedIn()" mat-icon-button aria-label="Login button" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="this.authService.isUserLoggedIn()" mat-icon-button aria-label="Logout button" (click)="this.authService.logOut()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
