<h2 *ngIf="orders && orders.length == 0">You haven't ordered anything yet</h2>
<h2>Orders</h2>
<div *ngFor="let order of orders">
    <mat-card *ngIf="order" class="product-card">
        <p>date: {{order?.date}}</p>
        <p>total: {{order?.totalPrice}}$</p>

        <div *ngFor="let item of order.items">
            <a [routerLink]="['/products/', item.productId]"> {{ item.name }}</a> x {{ item.quantity }}, {{ item.price
            }}
        </div>
        <br>
        <div>
            <a [routerLink]="['/payments/', order.paymentId]">Payment details</a>
        </div>
    </mat-card>
    <br>
</div>