<div *ngIf="this.authService.isUserLoggedIn()">
    <h2 *ngIf="this.isEmpty">
        Your cart is empty
    </h2>

    <div *ngIf="!this.isEmpty">
        <h2>Shopping cart</h2>
        <div matLine *ngIf="cart"><b>total cart price:</b> {{ cart.totalPrice }} $</div>
        <div matLine *ngIf="items"><b>total items: </b>{{ items.length }}</div>

        <mat-list>
            <mat-list-item *ngFor="let item of items">
                <input type="checkbox" name="sameadr" (click)="selectItem(item.id)">
                <img mat-card-image [src]="item.imgUrl" matListAvatar alt="">
                <div matLine><a [routerLink]="['/products/', item.id]"> {{item.name}}</a></div>
                <div matLine>{{item.price}} $</div>
                <div matLine> x {{ item.quantity }}</div>
                <div matLine><button mat-raised-button (click)="remove(item.id)" class="remove-button">remove</button></div>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button 
                (click)="orderSelected()" class="order-selected-button">
                order selected
        </button>

    </div>
    