<div *ngIf="this.authService.isUserLoggedIn()">
    <p *ngIf="cart"><b>total cart price:</b> {{ cart.totalPrice }} $</p>
    <p *ngIf="items"><b>cart items count: </b>{{ items.length }}</p>

    <h2>cart items</h2>

    <table>
        <tr>
            <td></td>
            <td>name </td>
            <td>price </td>
            <td>quantity </td>
        </tr>


        <tr *ngFor="let item of items">
            <input type="checkbox" name="sameadr" (click)="selectItem(item.id)">
            <th>{{item.name}}</th>
            <td>{{item.price}}</td>
            <td>{{ item.quantity }}</td>
            <td><button (click)="remove(item.id)">remove</button></td>
        </tr>

        <button (click)="orderSelected()">order selected</button> 
    </table>
</div>