<div *ngIf="cart">
    <p><b>total cart price:</b> {{ cart.totalPrice }} $</p>
    <p><b>cart items count: </b>{{ cart.items.length }}</p>

    <h2>cart items</h2>

    <table>
        <tr>
            <td></td>
            <td>name </td>
            <td>price </td>
            <td>quantity </td>
        </tr>


        <tr *ngFor="let item of cart.items">
            <input type="checkbox" name="sameadr" value="item.id">
            <th>{{item.name}}</th>
            <td>{{item.price}}</td>
            <td>{{ item.quantity }}</td>
            <!-- <td>{{item.quantity}}</td> -->
            <td><button [routerLink]="['/order-form']" [queryParams]="{productId: item.id}">buy</button></td>
            <td><button (click)="remove(item.id)">remove</button></td>
        </tr>


    </table>
</div>