<mat-card-content>
    <form [formGroup]="form" (ngSubmit)="signup()" class="my-form">

        <mat-form-field class="full-width">
            <div>
                <mat-label>Username
                    <input matInput placeholder="username" formControlName="username" required>
                </mat-label>
            </div>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors.required">Username is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="password" formControlName="password" required>
            </div>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors.required">Password is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Repeat password</mat-label>
                <input type="password" matInput placeholder="repeat password" formControlName="confirmPassword" required>
            </div>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors.required">Password is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" required>
            </div>
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors.required">First Name is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" required>
            </div>
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors.required">Last Name is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email" formControlName="email" required>
            </div>
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors.required">Email is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Account number</mat-label>

                <input matInput placeholder="_ _ _ _ - _ _ _ _ - _ _ _ _ - _ _ _ _" formControlName="accountNumber" required>
            </div>
            <div *ngIf="submitted && f['accountNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['accountNumber'].errors.required">Account number is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>City</mat-label>
                <input matInput placeholder="city" formControlName="city" required>
            </div>
            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                <div *ngIf="f['city'].errors.required">City is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Street</mat-label>
                <input matInput placeholder="street" formControlName="street" required>
            </div>
            <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
                <div *ngIf="f['street'].errors.required">Street is required</div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <div>
                <mat-label>Postal code</mat-label>
                <input matInput placeholder="_ _ - _ _ _" formControlName="postalCode" required>
            </div>
            <div *ngIf="submitted && f['postalCode'].errors" class="invalid-feedback">
                <div *ngIf="f['postalCode'].errors.required">Postal code is required</div>
            </div>
        </mat-form-field>
<!-- 
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div> -->

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="sign up" />
        </div>


    </form>
</mat-card-content>