<h2 *ngIf="message"> {{ message }} </h2>
<div class="container">
    <mat-list>
        <mat-list-item *ngFor="let product of products">
            <img mat-card-image [src]="product.imgUrl" matListAvatar alt="">
            <div matTitle><b>{{ product.name }}</b></div>
            <div matLine>price: {{ product.price }} $</div>
            <div matLine>category : {{ product.category }}</div>
            <div matLine>description {{ product.description.substring(0, 50) }}...</div>
            <div matLine>date: {{ product.lastModified.split('.')[0] }}</div>
            
            <div>
                <button class="icon-red" mat-icon-button aria-label="delete button" (click)="delete(product.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div>
                <button mat-icon-button aria-label="delete button" (click)="refresh(product.id)">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div>
                <button class="icon-green" mat-icon-button aria-label="delete button"
                 [routerLink]="['/admin/products/edit', product.id]" > 
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button [routerLink]="['/admin/products/add']">Add new product</button>
</div>