<mat-card class="product-page-card">
  <mat-card-title class="product-page-card-title" fxLayout="row" fxAlign="center">
    {{ product?.name }}
  </mat-card-title>
  <img mat-card-image [src]="product?.imgUrl" />
  <mat-card-actions fxLayoutAlign="center">
    <button [disabled]="this.isAdmin" mat-raised-button color="primary" (click)="addToCart(product.id)">
      Add to cart
    </button>
  </mat-card-actions>
  <mat-card-content>
    {{ product?.description }}
  </mat-card-content>
</mat-card>