  <mat-card class="product-page-card">
    <mat-card-title class="product-page-card-title" fxLayout="row" fxAlign="center">
      {{ product?.name }}
    </mat-card-title>
    <img mat-card-image [src]="product?.imgUrl" />
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button color="primary" class="snipcart-add-item"
        [disabled]="!isAuthenticated" (enabled)="addToCart(product?.id)"  type="submit"
        [attr.data-item-id]="product?.id"
        [attr.data-item-price]="product?.price" 
        [attr.data-item-url]="'/api/products/' + product?.id"
        [attr.data-item-name]="product?.name" 
        [attr.data-item-image]="product?.imgUrl">
        Add to cart
      </button>
    </mat-card-actions>
</mat-card>